<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="type==1">
    <ion-title>登&nbsp;录</ion-title>
  </ion-navbar>

  <ion-navbar *ngIf="type==2">
    <ion-title>快速注册登录</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

   <ion-list *ngIf="type==1">
        <ion-item>
          <ion-label fixed>账户:</ion-label>
          <ion-input type="text" [(ngModel)]='userinfo.phoneNum' placeholder='手机号/账户'></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label fixed>密码:</ion-label>
            <ion-input type="password"  [(ngModel)]='userinfo.password' placeholder='请输入密码'></ion-input>
         </ion-item>

         <ion-item no-lines class="list_end">
            <span item-start (tap)="change()">
                快速注册登录
            </span>
         </ion-item>
   </ion-list>

   <ion-list *ngIf="type==2">
    <ion-item>
      <ion-label fixed>账户:</ion-label>
      <ion-input type="text" [(ngModel)]='userinfo2.phoneNum' placeholder='手机号/账户'></ion-input>
    </ion-item>

    <ion-item>
        <ion-label fixed>验证码:</ion-label>
      <ion-input type="number" [(ngModel)]='userinfo2.verifyCode' placeholder="短信验证码"></ion-input>
      <button id="button" ion-button item-right (tap)="getVerifyCode()" color= "danger">获取验证码</button>
      <button style="display: none;width: 5rem;" id="time" ion-button item-right color= "danger">{{spareTime}}s 重发</button>
    </ion-item>

     <ion-item no-lines class="list_end">
        <span item-start (tap)="change()">
            密码登录
        </span>
     </ion-item>
     <ion-item no-lines class="list_end">
        <span item-start style="color:#f53d3d;" (tap)="change()">
            提示:该方式下注册密码默认为手机号后六位，若已注册该方式可登录
        </span>
     </ion-item>
</ion-list>

   <button ion-button block color="danger" class="login_btn" (tap)="doLogin()">登录</button>
    

</ion-content>
