ion-modle-g {
    .moudle5{
        text-align: center;
    }
    .tcol{
        display: inline-table;
    }
    .style1{
        background: url("../assets/imgs/title1.png") no-repeat center;
        background-size: contain;
        a{
            overflow: auto;
            img{
                display: -webkit-box;
            }
        }
    }
    .fz-32{
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right,#F55555,#F55555,#FCCF31 60%,#FCCF31);
        display: inline-block;
        padding: 0 0.46rem;
        line-height: 1.82rem;
        letter-spacing: 0.217rem;
        font-size: 1.53rem !important;
        font-weight: normal;
    }
    .test2{
        background-color: white;
        border: 2px solid #efefef;
        border-radius: 2px;
        padding: 0px;
        align-self: flex-start
        
    }
    .product {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        ul{
            display: flex;
            list-style-type: none;
            flex-direction: column;
            width: 50%;
            li{
                p{
                    margin-top: 12px;
                    padding: 0px;
                    width: 100%;
                    font-size: 14px;
                    font-family: "黑体-简";
                    font-weight: 300;
                    color: black;
                    background: rgba(255, 255, 255, 0.8);
                    overflow: auto;
                    text-indent: 5px;
                }
            }
        }
        .list-price {
            height: 26px;
            line-height: 18px;
            position: relative;
            bottom: 0;
            margin: 0 2%;
            padding-bottom: 30px;
        }
        .price-new {
            font-size: 18px;
            color: #f8285c;
        }
        .list-price i {
            font-style: normal;
            font-size: 12px;
        }
        .del {
            color: rgba(171, 171, 171, 1);
            text-decoration: line-through;
            margin-left: 2px;
        }
        .good-btn {
            display: block;
            position: absolute;
            height: 16px;
            line-height: 12px;
            color: #f8285c;
            font-size: 13px;
            font-family: "黑体-简";
            text-align: right;
            top: 5px;
            right: 2px;
        }
        .quan_img {
            position: absolute;
            width: 61px;
            height: 55px;
            z-index: 5;
            right: 0;
            top: 0;
            cursor: pointer;
            background: url(/assets/img/quan.png) no-repeat;
            background-size: contain;
            color: #fff;
        }
        .quan_img .num_money {
            font-family: Arial;
            font-size: 18px;
            height: 40px;
            left: 9px;
            position: absolute;
            text-align: center;
            top: 14px;
            width: 40px;
        }
    }
}
