page-paysuccess {

    .img{
        margin: 0 auto 0 auto;
        display: block;
    }
   
        .home_button{
            width: 80%;
            margin: 0 auto 15px auto;
        }
        .other_button{
            width: 80%;
            margin: 0 auto 15px auto;
        }
}
