<ion-content style="background: #eeeeee;">
        <img class="img" src="assets/imgs/success3.png"/>
            <button class="home_button" ion-button block color="danger" onclick="globalGoRoot()">返回首页</button>
            <button class="other_button" ion-button block color="danger" *ngIf="orderType=='1'" (tap)="goToOrders()">返回订单</button>
            <button class="other_button" ion-button block color="danger" *ngIf="orderType=='2'" (tap)="goToMyWallet()">查看现金</button>
            <button class="other_button" ion-button block color="danger" *ngIf="orderType=='3'" (tap)="goToMyWallet()">查看等级</button>
</ion-content>
