page-callcenter {
    .card-div{
        background: #FFFFFF;
        padding: 0.2rem 1rem;
        margin: 1.2rem 0.8rem 8rem 0.8rem;
        border-radius: 0.8rem;
    }
    .card-line{
        text-align: center;
        height: 3.8rem;
        line-height: 3.8rem;
        position: relative;
    }
 
    .line-div{
        border-top: 0.1rem solid #eeeeee
    }
    .arrows{
        position: absolute;
        right:0.1rem;
        top:1.2rem; 
    }
    .head-span{
        float: left;
    }
    a{
        text-decoration:none;
        color: black;
        width: 30px;
    }
}
