<ion-header>

  <ion-navbar>
    <ion-title>{{keywords}}</ion-title>
  </ion-navbar>
  <div class="sub_header">
    <div (tap)="search_sale()">
      <span [ngClass]="{'tcl':selectTag=='sale'}">销量</span>
    </div>
    <div (tap)="search_price()" [ngClass]="{'down':priceFlag}" class="up">
      <span [ngClass]="{'tcl':selectTag=='price'}">价格</span>
    </div>
    <div (tap)="search_elec()" [ngClass]="{'down':elecFlag}" class="up">
      <span [ngClass]="{'tcl':selectTag=='elec'}">积分</span>
    </div>
  </div>
</ion-header>


<ion-content>
  <div class="list_content">


    <ion-list inset>
      <ng-container *ngFor="let item of list">
        <ion-item (tap)="goProduct(item.product.id)" class="tlist" *ngIf="item.product.productphotos.length>0">
          <ion-thumbnail item-left>
            <img [src]="config.domain+item.product.productphotos[0].photo" />
          </ion-thumbnail>
          <h2 class="tpn"> {{item.product.productname}}</h2>
          <p class="tp">
            <span style="color:red">¥</span><span style="color: red;font-size: 1.8rem" class="price">&nbsp;{{item.product.price}}</span>
            <span style="float: right;">
              <ion-icon style="color: #e0532d;" name="ios-redBack"></ion-icon><span style="color:#e0532d;font-size: 1.2rem">&nbsp;{{item.product.elecnum}}</span>
            </span>
          </p>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>

</ion-content>