<!--
  Generated template for the InformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>查看物流</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: #eeeeee;">
    <ion-grid style="padding: 1px;width: 100%;">
        <div class="card-div">
        <ion-row class="col_row">
            <ion-col  style="width: 100%" *ngFor="let item of temps.orderlines">
                <img class="img"  [src]="config.domain+item.photo">
                <div class="hp">
                    <div> {{item.productname}}</div>
                        <div style="float:right;margin-top:-20px;">{{item.price}}元</div>  
                </div>
                <br />
                <span class="hp" style="float:right">×{{item.productnum}}</span>
            </ion-col>
        </ion-row>
        <ion-row  class="col_row">
          <ion-col class="col_2" style="width: 100%">
            <div class="cards-div">
                <p *ngIf="messages.State==-1">暂无物流信息</p>
                <p *ngIf="messages.State==1">已取件</p>
                <p *ngIf="messages.State==2">在途中</p>
                <p *ngIf="messages.State==3">已签收</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div class="card-div" style="margin-top:-90px" >
          <ion-row  class="col_row">
            <ion-col class="col_2_div" style="width: 100%">
              <span >订单编号：{{messages.LogisticCode}}</span><br />
              <div class="package-status">
                  <div class="status-box" >
                    <ul  class="status-list" *ngFor="let item of messages.Traces">
                      <li>
                        <div class="status-content-before">{{item.AcceptStation}}</div>
                        <div class="status-time-before">{{item.AcceptTime}}</div>
                        <div class="status-line"></div>
                      </li>
                    </ul>
                  </div>
              </div>
            </ion-col>
          </ion-row>
        </div>    
        </ion-grid>
       <ion-grid>
         <div class="cards-div"  *ngIf="messages.State==-1">
             <p>暂无物流信息</p>
          </div>
       </ion-grid>
</ion-content>
