page-refund {
    .col_2{
        background-color: #ffffff;
        padding: 1rem;
        font-size: 1.2rem;
        height: 12rem;
      }
      ion-grid img{
        height: 10rem;
        width: 10rem;
        display: block;
        margin: 0 auto;
        float: left;
      }
      .hp{
        font-size: 1.4rem;
        margin-top: 0.8rem;
        margin-left: 11rem;
       
    }
    .card-div{
        background: #FFFFFF;
        padding: 0.2rem 1rem;
        margin: 1.2rem 0.8rem 8rem 0.8rem;
        border-radius: 0.8rem;
       
    }
    .img{
        height: 10rem;
        width: 10rem;
        display: block;
        margin: 0 auto;
        float: left;
    }
}
